<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!--内敛srcipt-->
    <script>
        <%= 
        compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.
        substr(htmlWebpackPlugin.files.publicPath.length)].source() 
        %>
    </script>
</head>

<body>
    <!--传递date参数-->
    <%= htmlWebpackPlugin.options.date %>


        <!--外敛srcipt-->
        <!-- 遍历 htmlWebpackPlugin.files.chunks ，如果 k不等于main，即需要引用除main以外的js-->
        <% for(var k in htmlWebpackPlugin.files.chunks) { %>
            <% if( k !== 'main' ) { %>
                <script src="<%= htmlWebpackPlugin.files.chunks[k].entry %>"></script>
                <% } %>
                    <% } %>
</body>
</html>